# Lectura y escritura de ficheros con Pandas

https://pandas.pydata.org/docs/user_guide/io.html

```
pip install pandas
```

In [2]:
import pandas as pd

# Cargamos los datos del fichero
ruta_fichero = "data/marvel-wikia-data.csv"
df_marvel = pd.read_csv(ruta_fichero)

type(df_marvel)

pandas.core.frame.DataFrame

In [3]:
df_marvel

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,dontknow,Living Characters,4043.0,Aug-62,1.962
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1.941
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,dontknow,Living Characters,3061.0,Oct-74,1.974
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1.963
4,2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1.950
5,2458,Benjamin Grimm (Earth-616),\/Benjamin_Grimm_(Earth-616),Public Identity,Good Characters,Blue Eyes,No Hair,Male Characters,NaN,Living Characters,2255.0,Nov-61,1.961
6,2166,Reed Richards (Earth-616),\/Reed_Richards_(Earth-616),Public Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,dontknow,Living Characters,2072.0,Nov-61,1.961
7,1833,Hulk (Robert Bruce Banner),\/Hulk_(Robert_Bruce_Banner),Public Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,2017.0,May-62,1.962
8,29481,Scott Summers (Earth-616),\/Scott_Summers_(Earth-616),Public Identity,Neutral Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1955.0,Sep-63,1.963
9,1837,Jonathan Storm (Earth-616),\/Jonathan_Storm_(Earth-616),Public Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,1934.0,Nov-61,1.961
10,15725,Henry McCoy (Earth-616),\/Henry_McCoy_(Earth-616),Public Identity,Good Characters,Blue Eyes,Blue Hair,Male Characters,NaN,Living Characters,1825.0,Sep-63,1.963
11,1863,Susan Storm (Earth-616),\/Susan_Storm_(Earth-616),Public Identity,Good Characters,Blue Eyes,Blond Hair,Female Characters,NaN,Living Characters,1713.0,Nov-61,1.961
12,7823,Namor McKenzie (Earth-616),\/Namor_McKenzie_(Earth-616),No Dual Identity,Neutral Characters,Green Eyes,Black Hair,Male Characters,NaN,Living Characters,NaN,Nov-61,1.528
13,2614,Ororo Munroe (Earth-616),\/Ororo_Munroe_(Earth-616),Public Identity,Good Characters,Blue Eyes,White Hair,Female Characters,NaN,Living Characters,1512.0,May-75,1.975
14,1803,Clinton Barton (Earth-616),\/Clinton_Barton_(Earth-616),Public Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,1394.0,Sep-64,1.964
15,1396,Matthew Murdock (Earth-616),\/Matthew_Murdock_(Earth-616),Public Identity,Good Characters,Blue Eyes,Red Hair,Male Characters,NaN,Living Characters,1338.0,Apr-64,1.964
16,55534,Stephen Strange (Earth-616),\/Stephen_Strange_(Earth-616),Public Identity,Good Characters,Grey Eyes,Black Hair,Male Characters,NaN,Living Characters,1307.0,Jul-63,1.963
17,1978,Mary Jane Watson (Earth-616),\/Mary_Jane_Watson_(Earth-616),No Dual Identity,Good Characters,Green Eyes,Red Hair,Female Characters,NaN,Living Characters,1304.0,Jun-65,1.965
18,1872,John Jonah Jameson (Earth-616),\/John_Jonah_Jameson_(Earth-616),No Dual Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,1266.0,Mar-63,1.963
19,35350,Robert Drake (Earth-616),\/Robert_Drake_(Earth-616),Secret Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1265.0,Sep-63,1.963
20,1557,Henry Pym (Earth-616),\/Henry_Pym_(Earth-616),Public Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,1237.0,Jan-62,1.962
21,65255,Charles Xavier (Earth-616),\/Charles_Xavier_(Earth-616),Public Identity,Good Characters,Blue Eyes,Bald,Male Characters,NaN,Deceased Characters,1233.0,Sep-63,1.963
22,1073,Warren Worthington III (Earth-616),\/Warren_Worthington_III_(Earth-616),Public Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,1230.0,Sep-63,1.963
23,1346,Piotr Rasputin (Earth-616),\/Piotr_Rasputin_(Earth-616),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,1162.0,May-75,1.975
24,2512,Wanda Maximoff (Earth-616),\/Wanda_Maximoff_(Earth-616),Public Identity,Good Characters,Green Eyes,Brown Hair,Female Characters,NaN,Living Characters,1161.0,Mar-64,1.964
25,1671,Nicholas Fury (Earth-616),\/Nicholas_Fury_(Earth-616),No Dual Identity,Neutral Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1137.0,May-63,1.963
26,1976,Janet van Dyne (Earth-616),\/Janet_van_Dyne_(Earth-616),Public Identity,Good Characters,Blue Eyes,Auburn Hair,Female Characters,NaN,Living Characters,1120.0,Jun-63,1.963
27,65219,Jean Grey (Earth-616),\/Jean_Grey_(Earth-616),Public Identity,Good Characters,Green Eyes,Red Hair,Female Characters,NaN,Deceased Characters,1107.0,Sep-63,1.963
28,6545,Natalia Romanova (Earth-616),\/Natalia_Romanova_(Earth-616),Public Identity,Good Characters,Green Eyes,Red Hair,Female Characters,Bisexual Characters,Living Characters,1050.0,Apr-64,1.964
29,2223,Kurt Wagner (Earth-616),\/Kurt_Wagner_(Earth-616),Secret Identity,Good Characters,Yellow Eyes,Blue Hair,Male Characters,NaN,Living Characters,1047.0,May-75,1.975
30,9999,-,-,-,-,-,-,-,NaN,-,0.0,-0,0.000

In [4]:
# Nos informa de los estadísticos básicos de los datos 
df_marvel.describe()

            page_id  APPEARANCES       Year
count     31.000000    30.000000  31.000000
mean   12936.774194  1677.466667   1.885871
std    21056.994013   821.949228   0.358674
min     1073.000000     0.000000   0.000000
25%     1835.000000  1179.000000   1.961500
50%     2223.000000  1322.500000   1.963000
75%     8911.000000  2001.500000   1.964000
max    65255.000000  4043.000000   1.975000

In [5]:
df_marvel.columns

Index(['page_id', 'name', 'urlslug', 'ID', 'ALIGN', 'EYE', 'HAIR', 'SEX',
       'GSM', 'ALIVE', 'APPEARANCES', 'FIRST APPEARANCE', 'Year'],
      dtype='object')

In [6]:
df_marvel.head()

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,dontknow,Living Characters,4043.0,Aug-62,1.962
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1.941
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,dontknow,Living Characters,3061.0,Oct-74,1.974
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1.963
4,2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1.950

In [8]:
df_marvel[0:5]

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,dontknow,Living Characters,4043.0,Aug-62,1.962
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1.941
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,dontknow,Living Characters,3061.0,Oct-74,1.974
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1.963
4,2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1.950

In [10]:
# Mostramos los valores de una sola columna
df_marvel['APPEARANCES']

0     4043.0
1     3360.0
2     3061.0
3     2961.0
4     2258.0
5     2255.0
6     2072.0
7     2017.0
8     1955.0
9     1934.0
10    1825.0
11    1713.0
12       NaN
13    1512.0
14    1394.0
15    1338.0
16    1307.0
17    1304.0
18    1266.0
19    1265.0
20    1237.0
21    1233.0
22    1230.0
23    1162.0
24    1161.0
25    1137.0
26    1120.0
27    1107.0
28    1050.0
29    1047.0
30       0.0
Name: APPEARANCES, dtype: float64

In [11]:
type(df_marvel.APPEARANCES)

pandas.core.series.Series

In [18]:
# Mostramos la series solo 12 resultados
df_marvel['FIRST APPEARANCE'].head(12)

0     Aug-62
1     Mar-41
2     Oct-74
3     Mar-63
4     Nov-50
5     Nov-61
6     Nov-61
7     May-62
8     Sep-63
9     Nov-61
10    Sep-63
11    Nov-61
Name: FIRST APPEARANCE, dtype: object

In [17]:
# Mostramos dos columnas al azar del dataframe
df_marvel[['APPEARANCES', 'FIRST APPEARANCE']]

    APPEARANCES FIRST APPEARANCE
0        4043.0           Aug-62
1        3360.0           Mar-41
2        3061.0           Oct-74
3        2961.0           Mar-63
4        2258.0           Nov-50
5        2255.0           Nov-61
6        2072.0           Nov-61
7        2017.0           May-62
8        1955.0           Sep-63
9        1934.0           Nov-61
10       1825.0           Sep-63
11       1713.0           Nov-61
12          NaN           Nov-61
13       1512.0           May-75
14       1394.0           Sep-64
15       1338.0           Apr-64
16       1307.0           Jul-63
17       1304.0           Jun-65
18       1266.0           Mar-63
19       1265.0           Sep-63
20       1237.0           Jan-62
21       1233.0           Sep-63
22       1230.0           Sep-63
23       1162.0           May-75
24       1161.0           Mar-64
25       1137.0           May-63
26       1120.0           Jun-63
27       1107.0           Sep-63
28       1050.0           Apr-64
29       1047.0           May-75
30          0.0               -0

In [21]:
# Mostramos dos columnas al azar del dataframe
df_marvel[['APPEARANCES', 'FIRST APPEARANCE']][:12]

    APPEARANCES FIRST APPEARANCE
0        4043.0           Aug-62
1        3360.0           Mar-41
2        3061.0           Oct-74
3        2961.0           Mar-63
4        2258.0           Nov-50
5        2255.0           Nov-61
6        2072.0           Nov-61
7        2017.0           May-62
8        1955.0           Sep-63
9        1934.0           Nov-61
10       1825.0           Sep-63
11       1713.0           Nov-61

In [22]:
# Antes de comenzar con el DataFrame tenemos que conocer un vector unidimensional, Series, donde los datos, deberían ser homogéneos
vector = [1, 1, 2, 3, 5, 8]
print(pd.Series(vector))

0    1
1    1
2    2
3    3
4    5
5    8
dtype: int64

In [23]:
type(pd.Series(vector))

pandas.core.series.Series

In [25]:
pd.Series([True, False, False])

0     True
1    False
2    False
dtype: bool

In [24]:
pd.Series([1, 2, 3.5, 'Hola'])

0       1
1       2
2     3.5
3    Hola
dtype: object

In [27]:
df_marvel.index

RangeIndex(start=0, stop=31, step=1)

In [28]:
pd.Series([1, 2, 3.5, 'Hola']).index

RangeIndex(start=0, stop=4, step=1)

In [30]:
pd.Series([27, 31, 22, 15, 36], index=['Monica', 'Lucas', 'Gabriel', 'Maria', 'Ana'])

Monica     27
Lucas      31
Gabriel    22
Maria      15
Ana        36
dtype: int64

In [31]:
# Podemos crear una tabla bidimensional con etiquetas en los ejes y datos heterogéneos. Este es un dataframe comenzando con dos listas
print(pd.DataFrame([[1, 2, 3], [4, 5, 6]]))

   0  1  2
0  1  2  3
1  4  5  6

In [32]:
# O bien creando un diccionario
d = {"Maria" : [1953, 12, 3], "Bob": [1944, 5, 12], "Ana":[2000, 12, 31]}
print(pd.DataFrame(d))

   Maria   Bob   Ana
0   1953  1944  2000
1     12     5    12
2      3    12    31

In [35]:
print(pd.DataFrame(d, index=['year', 'month', 'day']))

       Maria   Bob   Ana
year    1953  1944  2000
month     12     5    12
day        3    12    31

In [36]:
df = pd.DataFrame(d, index=['year', 'month', 'day'])
df

       Maria   Bob   Ana
year    1953  1944  2000
month     12     5    12
day        3    12    31

In [37]:
print(df)

       Maria   Bob   Ana
year    1953  1944  2000
month     12     5    12
day        3    12    31

In [38]:
df.T

       year  month  day
Maria  1953     12    3
Bob    1944      5   12
Ana    2000     12   31

In [45]:
a = [[1953, "CS", 3.5], [1955, "arquitectura", 3.8], [1945, "biology", 3.2]]
pd.DataFrame(a, columns=["Year", "major", "avg_grade"], index=['Maria', 'Lucas','Ana'])

       Year         major  avg_grade
Maria  1953            CS        3.5
Lucas  1955  arquitectura        3.8
Ana    1945       biology        3.2

In [46]:
# Podemos crear una tabla tridimensional con MultiIndex

#pd.MultiIndex()

TypeError: Must pass both levels and codes

In [48]:
# Manipular un dataframe
df_marvel[['HAIR', "SEX"]]

           HAIR                SEX
0    Brown Hair    Male Characters
1    White Hair    Male Characters
2    Black Hair    Male Characters
3    Black Hair    Male Characters
4    Blond Hair    Male Characters
5       No Hair    Male Characters
6    Brown Hair    Male Characters
7    Brown Hair    Male Characters
8    Brown Hair    Male Characters
9    Blond Hair    Male Characters
10    Blue Hair    Male Characters
11   Blond Hair  Female Characters
12   Black Hair    Male Characters
13   White Hair  Female Characters
14   Blond Hair    Male Characters
15     Red Hair    Male Characters
16   Black Hair    Male Characters
17     Red Hair  Female Characters
18   Black Hair    Male Characters
19   Brown Hair    Male Characters
20   Blond Hair    Male Characters
21         Bald    Male Characters
22   Blond Hair    Male Characters
23   Black Hair    Male Characters
24   Brown Hair  Female Characters
25   Brown Hair    Male Characters
26  Auburn Hair  Female Characters
27     Red Hair  Female Characters
28     Red Hair  Female Characters
29    Blue Hair    Male Characters
30            -                  -

In [49]:
df_marvel.columns

Index(['page_id', 'name', 'urlslug', 'ID', 'ALIGN', 'EYE', 'HAIR', 'SEX',
       'GSM', 'ALIVE', 'APPEARANCES', 'FIRST APPEARANCE', 'Year'],
      dtype='object')

In [51]:
df_marvel.loc[[3,8], ['name', 'SEX', 'APPEARANCES', 'Year']]

                                name              SEX  APPEARANCES   Year
3  Iron Man (Anthony \"Tony\" Stark)  Male Characters       2961.0  1.963
8          Scott Summers (Earth-616)  Male Characters       1955.0  1.963

In [56]:
filtro_male = df_marvel['SEX'] == 'Male Characters'
df_marvel[filtro_male]

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,dontknow,Living Characters,4043.0,Aug-62,1.962
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1.941
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,dontknow,Living Characters,3061.0,Oct-74,1.974
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1.963
4,2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1.950
5,2458,Benjamin Grimm (Earth-616),\/Benjamin_Grimm_(Earth-616),Public Identity,Good Characters,Blue Eyes,No Hair,Male Characters,NaN,Living Characters,2255.0,Nov-61,1.961
6,2166,Reed Richards (Earth-616),\/Reed_Richards_(Earth-616),Public Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,dontknow,Living Characters,2072.0,Nov-61,1.961
7,1833,Hulk (Robert Bruce Banner),\/Hulk_(Robert_Bruce_Banner),Public Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,2017.0,May-62,1.962
8,29481,Scott Summers (Earth-616),\/Scott_Summers_(Earth-616),Public Identity,Neutral Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1955.0,Sep-63,1.963
9,1837,Jonathan Storm (Earth-616),\/Jonathan_Storm_(Earth-616),Public Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,1934.0,Nov-61,1.961
10,15725,Henry McCoy (Earth-616),\/Henry_McCoy_(Earth-616),Public Identity,Good Characters,Blue Eyes,Blue Hair,Male Characters,NaN,Living Characters,1825.0,Sep-63,1.963
12,7823,Namor McKenzie (Earth-616),\/Namor_McKenzie_(Earth-616),No Dual Identity,Neutral Characters,Green Eyes,Black Hair,Male Characters,NaN,Living Characters,NaN,Nov-61,1.528
14,1803,Clinton Barton (Earth-616),\/Clinton_Barton_(Earth-616),Public Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,1394.0,Sep-64,1.964
15,1396,Matthew Murdock (Earth-616),\/Matthew_Murdock_(Earth-616),Public Identity,Good Characters,Blue Eyes,Red Hair,Male Characters,NaN,Living Characters,1338.0,Apr-64,1.964
16,55534,Stephen Strange (Earth-616),\/Stephen_Strange_(Earth-616),Public Identity,Good Characters,Grey Eyes,Black Hair,Male Characters,NaN,Living Characters,1307.0,Jul-63,1.963
18,1872,John Jonah Jameson (Earth-616),\/John_Jonah_Jameson_(Earth-616),No Dual Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,1266.0,Mar-63,1.963
19,35350,Robert Drake (Earth-616),\/Robert_Drake_(Earth-616),Secret Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1265.0,Sep-63,1.963
20,1557,Henry Pym (Earth-616),\/Henry_Pym_(Earth-616),Public Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,1237.0,Jan-62,1.962
21,65255,Charles Xavier (Earth-616),\/Charles_Xavier_(Earth-616),Public Identity,Good Characters,Blue Eyes,Bald,Male Characters,NaN,Deceased Characters,1233.0,Sep-63,1.963
22,1073,Warren Worthington III (Earth-616),\/Warren_Worthington_III_(Earth-616),Public Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,1230.0,Sep-63,1.963
23,1346,Piotr Rasputin (Earth-616),\/Piotr_Rasputin_(Earth-616),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,1162.0,May-75,1.975
25,1671,Nicholas Fury (Earth-616),\/Nicholas_Fury_(Earth-616),No Dual Identity,Neutral Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1137.0,May-63,1.963
29,2223,Kurt Wagner (Earth-616),\/Kurt_Wagner_(Earth-616),Secret Identity,Good Characters,Yellow Eyes,Blue Hair,Male Characters,NaN,Living Characters,1047.0,May-75,1.975

In [57]:
# Filtramos por una condición, si cumple True mostrará con el dataframe los resultados
filtro_female = df_marvel['SEX'] == 'Female Characters'
df_marvel[filtro_female]

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
11,1863,Susan Storm (Earth-616),\/Susan_Storm_(Earth-616),Public Identity,Good Characters,Blue Eyes,Blond Hair,Female Characters,NaN,Living Characters,1713.0,Nov-61,1.961
13,2614,Ororo Munroe (Earth-616),\/Ororo_Munroe_(Earth-616),Public Identity,Good Characters,Blue Eyes,White Hair,Female Characters,NaN,Living Characters,1512.0,May-75,1.975
17,1978,Mary Jane Watson (Earth-616),\/Mary_Jane_Watson_(Earth-616),No Dual Identity,Good Characters,Green Eyes,Red Hair,Female Characters,NaN,Living Characters,1304.0,Jun-65,1.965
24,2512,Wanda Maximoff (Earth-616),\/Wanda_Maximoff_(Earth-616),Public Identity,Good Characters,Green Eyes,Brown Hair,Female Characters,NaN,Living Characters,1161.0,Mar-64,1.964
26,1976,Janet van Dyne (Earth-616),\/Janet_van_Dyne_(Earth-616),Public Identity,Good Characters,Blue Eyes,Auburn Hair,Female Characters,NaN,Living Characters,1120.0,Jun-63,1.963
27,65219,Jean Grey (Earth-616),\/Jean_Grey_(Earth-616),Public Identity,Good Characters,Green Eyes,Red Hair,Female Characters,NaN,Deceased Characters,1107.0,Sep-63,1.963
28,6545,Natalia Romanova (Earth-616),\/Natalia_Romanova_(Earth-616),Public Identity,Good Characters,Green Eyes,Red Hair,Female Characters,Bisexual Characters,Living Characters,1050.0,Apr-64,1.964

In [60]:
df_marvel.ID.unique()

array(['Secret Identity', 'Public Identity', 'No Dual Identity', '-'],
      dtype=object)

In [63]:
# Resultado de dos condiciones utilizando el AND &
df_marvel[(df_marvel['APPEARANCES'] > 1000) & (df_marvel['ID'] == 'Secret Identity')]

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,dontknow,Living Characters,4043.0,Aug-62,1.962
19,35350,Robert Drake (Earth-616),\/Robert_Drake_(Earth-616),Secret Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1265.0,Sep-63,1.963
23,1346,Piotr Rasputin (Earth-616),\/Piotr_Rasputin_(Earth-616),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,1162.0,May-75,1.975
29,2223,Kurt Wagner (Earth-616),\/Kurt_Wagner_(Earth-616),Secret Identity,Good Characters,Yellow Eyes,Blue Hair,Male Characters,NaN,Living Characters,1047.0,May-75,1.975

In [67]:
df_marvel[(df_marvel['APPEARANCES'] > 5000) | (df_marvel['ID'] == 'Secret Identity')]

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,dontknow,Living Characters,4043.0,Aug-62,1.962
19,35350,Robert Drake (Earth-616),\/Robert_Drake_(Earth-616),Secret Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1265.0,Sep-63,1.963
23,1346,Piotr Rasputin (Earth-616),\/Piotr_Rasputin_(Earth-616),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,1162.0,May-75,1.975
29,2223,Kurt Wagner (Earth-616),\/Kurt_Wagner_(Earth-616),Secret Identity,Good Characters,Yellow Eyes,Blue Hair,Male Characters,NaN,Living Characters,1047.0,May-75,1.975

In [88]:
# Se puede utilizar DataFrame.where sin embargo devolverá NaN cuando la condición es False
df_marvel.where((df_marvel['APPEARANCES'] > 1000) & (df_marvel['ID'] == 'Secret Identity') ).sample(10, random_state=1234)[:10]

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2223.0,Kurt Wagner (Earth-616),\/Kurt_Wagner_(Earth-616),Secret Identity,Good Characters,Yellow Eyes,Blue Hair,Male Characters,NaN,Living Characters,1047.0,May-75,1.975
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1346.0,Piotr Rasputin (Earth-616),\/Piotr_Rasputin_(Earth-616),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,1162.0,May-75,1.975
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
# Al tratar los datos podemos eliminar valores nulos o NA o NaN
# inplace=True aplica los cambios directamente al dataframe

df_marvel.dropna(axis=1, how='any', inplace=False) 
# how='any' cualquier elemento nulo será eliminada la fila o columna
# how='all' toda la fila o columna será eliminada cuando todos los valores son nulos

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,ALIVE,FIRST APPEARANCE,Year
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,Living Characters,Aug-62,1.962
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,Living Characters,Mar-41,1.941
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,Living Characters,Oct-74,1.974
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,Living Characters,Mar-63,1.963
4,2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,Living Characters,Nov-50,1.950
5,2458,Benjamin Grimm (Earth-616),\/Benjamin_Grimm_(Earth-616),Public Identity,Good Characters,Blue Eyes,No Hair,Male Characters,Living Characters,Nov-61,1.961
6,2166,Reed Richards (Earth-616),\/Reed_Richards_(Earth-616),Public Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,Living Characters,Nov-61,1.961
7,1833,Hulk (Robert Bruce Banner),\/Hulk_(Robert_Bruce_Banner),Public Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,Living Characters,May-62,1.962
8,29481,Scott Summers (Earth-616),\/Scott_Summers_(Earth-616),Public Identity,Neutral Characters,Brown Eyes,Brown Hair,Male Characters,Living Characters,Sep-63,1.963
9,1837,Jonathan Storm (Earth-616),\/Jonathan_Storm_(Earth-616),Public Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,Living Characters,Nov-61,1.961
10,15725,Henry McCoy (Earth-616),\/Henry_McCoy_(Earth-616),Public Identity,Good Characters,Blue Eyes,Blue Hair,Male Characters,Living Characters,Sep-63,1.963
11,1863,Susan Storm (Earth-616),\/Susan_Storm_(Earth-616),Public Identity,Good Characters,Blue Eyes,Blond Hair,Female Characters,Living Characters,Nov-61,1.961
12,7823,Namor McKenzie (Earth-616),\/Namor_McKenzie_(Earth-616),No Dual Identity,Neutral Characters,Green Eyes,Black Hair,Male Characters,Living Characters,Nov-61,1.528
13,2614,Ororo Munroe (Earth-616),\/Ororo_Munroe_(Earth-616),Public Identity,Good Characters,Blue Eyes,White Hair,Female Characters,Living Characters,May-75,1.975
14,1803,Clinton Barton (Earth-616),\/Clinton_Barton_(Earth-616),Public Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,Living Characters,Sep-64,1.964
15,1396,Matthew Murdock (Earth-616),\/Matthew_Murdock_(Earth-616),Public Identity,Good Characters,Blue Eyes,Red Hair,Male Characters,Living Characters,Apr-64,1.964
16,55534,Stephen Strange (Earth-616),\/Stephen_Strange_(Earth-616),Public Identity,Good Characters,Grey Eyes,Black Hair,Male Characters,Living Characters,Jul-63,1.963
17,1978,Mary Jane Watson (Earth-616),\/Mary_Jane_Watson_(Earth-616),No Dual Identity,Good Characters,Green Eyes,Red Hair,Female Characters,Living Characters,Jun-65,1.965
18,1872,John Jonah Jameson (Earth-616),\/John_Jonah_Jameson_(Earth-616),No Dual Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,Living Characters,Mar-63,1.963
19,35350,Robert Drake (Earth-616),\/Robert_Drake_(Earth-616),Secret Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,Living Characters,Sep-63,1.963
20,1557,Henry Pym (Earth-616),\/Henry_Pym_(Earth-616),Public Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,Living Characters,Jan-62,1.962
21,65255,Charles Xavier (Earth-616),\/Charles_Xavier_(Earth-616),Public Identity,Good Characters,Blue Eyes,Bald,Male Characters,Deceased Characters,Sep-63,1.963
22,1073,Warren Worthington III (Earth-616),\/Warren_Worthington_III_(Earth-616),Public Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,Living Characters,Sep-63,1.963
23,1346,Piotr Rasputin (Earth-616),\/Piotr_Rasputin_(Earth-616),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,Living Characters,May-75,1.975
24,2512,Wanda Maximoff (Earth-616),\/Wanda_Maximoff_(Earth-616),Public Identity,Good Characters,Green Eyes,Brown Hair,Female Characters,Living Characters,Mar-64,1.964
25,1671,Nicholas Fury (Earth-616),\/Nicholas_Fury_(Earth-616),No Dual Identity,Neutral Characters,Brown Eyes,Brown Hair,Male Characters,Living Characters,May-63,1.963
26,1976,Janet van Dyne (Earth-616),\/Janet_van_Dyne_(Earth-616),Public Identity,Good Characters,Blue Eyes,Auburn Hair,Female Characters,Living Characters,Jun-63,1.963
27,65219,Jean Grey (Earth-616),\/Jean_Grey_(Earth-616),Public Identity,Good Characters,Green Eyes,Red Hair,Female Characters,Deceased Characters,Sep-63,1.963
28,6545,Natalia Romanova (Earth-616),\/Natalia_Romanova_(Earth-616),Public Identity,Good Characters,Green Eyes,Red Hair,Female Characters,Living Characters,Apr-64,1.964
29,2223,Kurt Wagner (Earth-616),\/Kurt_Wagner_(Earth-616),Secret Identity,Good Characters,Yellow Eyes,Blue Hair,Male Characters,Living Characters,May-75,1.975
30,9999,-,-,-,-,-,-,-,-,-0,0.000

In [104]:
# Podemos realizar agrupaciones

grouped = df_marvel.groupby(['ALIGN', 'ID'])
for n, g in grouped:
    print(n, len(g))

('-', '-') 1
('Good Characters', 'No Dual Identity') 2
('Good Characters', 'Public Identity') 19
('Good Characters', 'Secret Identity') 4
('Neutral Characters', 'No Dual Identity') 3
('Neutral Characters', 'Public Identity') 2

In [106]:
import numpy as np
grouped.aggregate(np.mean)

C:\Users\mrusso\AppData\Local\Temp\ipykernel_14808\3997675118.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped.aggregate(np.mean)

                                          page_id  APPEARANCES      Year
ALIGN              ID
-                  -                  9999.000000     0.000000  0.000000
Good Characters    No Dual Identity   2219.000000  1781.000000  1.957500
                   Public Identity   12651.210526  1675.052632  1.962158
                   Secret Identity   10149.250000  1879.250000  1.968750
Neutral Characters No Dual Identity   3788.666667  1201.500000  1.818000
                   Public Identity   47133.500000  2508.000000  1.968500

In [110]:
type(grouped.aggregate(np.mean))

C:\Users\mrusso\AppData\Local\Temp\ipykernel_14808\2910864576.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  type(grouped.aggregate(np.mean))

pandas.core.frame.DataFrame

In [120]:
# Guardamos el formato aggregate a un csv con MultiIndex
grouped.aggregate(np.max).to_csv('data/fichero_marvel_out.csv', encoding='utf-8')

C:\Users\mrusso\AppData\Local\Temp\ipykernel_14808\1993905169.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  grouped.aggregate(np.max).to_csv('data/fichero_marvel_out.csv', encoding='utf-8')

In [125]:
# Cargamos el fichero con el multiindex
pd.read_csv("data/fichero_marvel_out.csv", index_col=['ALIGN','ID'])

                                     page_id  \
ALIGN              ID
-                  -                    9999
Good Characters    No Dual Identity     2460
                   Public Identity     65255
                   Secret Identity     35350
Neutral Characters No Dual Identity     7823
                   Public Identity     64786

                                                                    name  \
ALIGN              ID
-                  -                                                   -
Good Characters    No Dual Identity                  Thor (Thor Odinson)
                   Public Identity    Warren Worthington III (Earth-616)
                   Secret Identity             Spider-Man (Peter Parker)
Neutral Characters No Dual Identity            Nicholas Fury (Earth-616)
                   Public Identity   Wolverine (James \"Logan\" Howlett)

                                                                     urlslug  \
ALIGN              ID
-                  -                                                       -
Good Characters    No Dual Identity                    \/Thor_(Thor_Odinson)
                   Public Identity      \/Warren_Worthington_III_(Earth-616)
                   Secret Identity               \/Spider-Man_(Peter_Parker)
Neutral Characters No Dual Identity              \/Nicholas_Fury_(Earth-616)
                   Public Identity   \/Wolverine_(James_%22Logan%22_Howlett)

                                             EYE        HAIR              SEX  \
ALIGN              ID
-                  -                           -           -                -
Good Characters    No Dual Identity   Green Eyes    Red Hair  Male Characters
                   Public Identity     Grey Eyes  White Hair  Male Characters
                   Secret Identity   Yellow Eyes  Brown Hair  Male Characters
Neutral Characters No Dual Identity   Green Eyes  Brown Hair  Male Characters
                   Public Identity    Brown Eyes  Brown Hair  Male Characters

                                                 ALIVE  APPEARANCES  \
ALIGN              ID
-                  -                                 -          0.0
Good Characters    No Dual Identity  Living Characters       2258.0
                   Public Identity   Living Characters       3360.0
                   Secret Identity   Living Characters       4043.0
Neutral Characters No Dual Identity  Living Characters       1266.0
                   Public Identity   Living Characters       3061.0

                                    FIRST APPEARANCE   Year
ALIGN              ID
-                  -                              -0  0.000
Good Characters    No Dual Identity           Nov-50  1.965
                   Public Identity            Sep-64  1.975
                   Secret Identity            Sep-63  1.975
Neutral Characters No Dual Identity           Nov-61  1.963
                   Public Identity            Sep-63  1.974

In [123]:
df_marvel

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,dontknow,Living Characters,4043.0,Aug-62,1.962
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1.941
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,dontknow,Living Characters,3061.0,Oct-74,1.974
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1.963
4,2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1.950
5,2458,Benjamin Grimm (Earth-616),\/Benjamin_Grimm_(Earth-616),Public Identity,Good Characters,Blue Eyes,No Hair,Male Characters,NaN,Living Characters,2255.0,Nov-61,1.961
6,2166,Reed Richards (Earth-616),\/Reed_Richards_(Earth-616),Public Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,dontknow,Living Characters,2072.0,Nov-61,1.961
7,1833,Hulk (Robert Bruce Banner),\/Hulk_(Robert_Bruce_Banner),Public Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,2017.0,May-62,1.962
8,29481,Scott Summers (Earth-616),\/Scott_Summers_(Earth-616),Public Identity,Neutral Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1955.0,Sep-63,1.963
9,1837,Jonathan Storm (Earth-616),\/Jonathan_Storm_(Earth-616),Public Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,1934.0,Nov-61,1.961
10,15725,Henry McCoy (Earth-616),\/Henry_McCoy_(Earth-616),Public Identity,Good Characters,Blue Eyes,Blue Hair,Male Characters,NaN,Living Characters,1825.0,Sep-63,1.963
11,1863,Susan Storm (Earth-616),\/Susan_Storm_(Earth-616),Public Identity,Good Characters,Blue Eyes,Blond Hair,Female Characters,NaN,Living Characters,1713.0,Nov-61,1.961
12,7823,Namor McKenzie (Earth-616),\/Namor_McKenzie_(Earth-616),No Dual Identity,Neutral Characters,Green Eyes,Black Hair,Male Characters,NaN,Living Characters,NaN,Nov-61,1.528
13,2614,Ororo Munroe (Earth-616),\/Ororo_Munroe_(Earth-616),Public Identity,Good Characters,Blue Eyes,White Hair,Female Characters,NaN,Living Characters,1512.0,May-75,1.975
14,1803,Clinton Barton (Earth-616),\/Clinton_Barton_(Earth-616),Public Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,1394.0,Sep-64,1.964
15,1396,Matthew Murdock (Earth-616),\/Matthew_Murdock_(Earth-616),Public Identity,Good Characters,Blue Eyes,Red Hair,Male Characters,NaN,Living Characters,1338.0,Apr-64,1.964
16,55534,Stephen Strange (Earth-616),\/Stephen_Strange_(Earth-616),Public Identity,Good Characters,Grey Eyes,Black Hair,Male Characters,NaN,Living Characters,1307.0,Jul-63,1.963
17,1978,Mary Jane Watson (Earth-616),\/Mary_Jane_Watson_(Earth-616),No Dual Identity,Good Characters,Green Eyes,Red Hair,Female Characters,NaN,Living Characters,1304.0,Jun-65,1.965
18,1872,John Jonah Jameson (Earth-616),\/John_Jonah_Jameson_(Earth-616),No Dual Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,1266.0,Mar-63,1.963
19,35350,Robert Drake (Earth-616),\/Robert_Drake_(Earth-616),Secret Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1265.0,Sep-63,1.963
20,1557,Henry Pym (Earth-616),\/Henry_Pym_(Earth-616),Public Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,1237.0,Jan-62,1.962
21,65255,Charles Xavier (Earth-616),\/Charles_Xavier_(Earth-616),Public Identity,Good Characters,Blue Eyes,Bald,Male Characters,NaN,Deceased Characters,1233.0,Sep-63,1.963
22,1073,Warren Worthington III (Earth-616),\/Warren_Worthington_III_(Earth-616),Public Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,1230.0,Sep-63,1.963
23,1346,Piotr Rasputin (Earth-616),\/Piotr_Rasputin_(Earth-616),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,1162.0,May-75,1.975
24,2512,Wanda Maximoff (Earth-616),\/Wanda_Maximoff_(Earth-616),Public Identity,Good Characters,Green Eyes,Brown Hair,Female Characters,NaN,Living Characters,1161.0,Mar-64,1.964
25,1671,Nicholas Fury (Earth-616),\/Nicholas_Fury_(Earth-616),No Dual Identity,Neutral Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1137.0,May-63,1.963
26,1976,Janet van Dyne (Earth-616),\/Janet_van_Dyne_(Earth-616),Public Identity,Good Characters,Blue Eyes,Auburn Hair,Female Characters,NaN,Living Characters,1120.0,Jun-63,1.963
27,65219,Jean Grey (Earth-616),\/Jean_Grey_(Earth-616),Public Identity,Good Characters,Green Eyes,Red Hair,Female Characters,NaN,Deceased Characters,1107.0,Sep-63,1.963
28,6545,Natalia Romanova (Earth-616),\/Natalia_Romanova_(Earth-616),Public Identity,Good Characters,Green Eyes,Red Hair,Female Characters,Bisexual Characters,Living Characters,1050.0,Apr-64,1.964
29,2223,Kurt Wagner (Earth-616),\/Kurt_Wagner_(Earth-616),Secret Identity,Good Characters,Yellow Eyes,Blue Hair,Male Characters,NaN,Living Characters,1047.0,May-75,1.975
30,9999,-,-,-,-,-,-,-,NaN,-,0.0,-0,0.000

In [114]:
# Guardamos el fichero marvel a csv sin la columna Index
df_marvel.to_csv('data/otro_output.csv', encoding='utf-8', index=False)

## Opciones de Pandas

In [128]:
pd.get_option('display.max_columns')

20

In [129]:
pd.set_option('display.max_columns', 30)

## Interacción con base de datos

In [138]:
cols = df_marvel.columns
cols = ", ".join(cols)

In [141]:
cols

'page_id, name, urlslug, ID, ALIGN, EYE, HAIR, SEX, GSM, ALIVE, APPEARANCES, FIRST APPEARANCE, Year'

In [144]:
# importamos la librería de Python para crear una base de datos en memoria
import sqlite3

# Creamos un enlace de conexión con la base de datos
conn = sqlite3.connect('marvel.db')

# Con la conexión a través del cursor
cur = conn.cursor()

# Creamos una tabla utilizando los nombres del dataframe con la siguiente Query
sql_create_tabla = "CREATE TABLE marvel_chars ({})".format(cols)
print(sql_create_tabla)

# Lanzamos la sentencia SQL de creación de tabla
cur.execute(sql_create_tabla)

# Guardar cambios
conn.commit()

CREATE TABLE marvel_chars (page_id, name, urlslug, ID, ALIGN, EYE, HAIR, SEX, GSM, ALIVE, APPEARANCES, FIRST APPEARANCE, Year)

In [147]:
# Ejecutamos una query con SELECT para comprobar la tabla
sql_select_tabla = "SELECT * FROM marvel_chars"
cur.execute(sql_select_tabla)

# Recuperamos la información del resultado de la query o sentencia
results = cur.fetchall()

# Mostramos los resultados
print(results)

[]

In [148]:
# Añadimos datos a la tabla
for index, row in df_marvel.iterrows():
    # Por cada fila del DataFrame añadimos la fila a la tabla
    cur.execute("INSERT INTO marvel_chars VALUES "
        "(?,?,?,?,?,?,?,?,?,?,?,?,?)" , row
        )

# Hacemos commit
conn.commit()

In [149]:
# Ejecutamos una query con SELECT para comprobar la tabla
sql_select_tabla = "SELECT * FROM marvel_chars"
cur.execute(sql_select_tabla)

# Recuperamos la información del resultado de la query o sentencia
results = cur.fetchall()

# Mostramos los resultados
print(results)

[(1678, 'Spider-Man (Peter Parker)', '\\/Spider-Man_(Peter_Parker)', 'Secret Identity', 'Good Characters', 'Hazel Eyes', 'Brown Hair', 'Male Characters', 'dontknow', 'Living Characters', 4043.0, 'Aug-62', 1.962), (7139, 'Captain America (Steven Rogers)', '\\/Captain_America_(Steven_Rogers)', 'Public Identity', 'Good Characters', 'Blue Eyes', 'White Hair', 'Male Characters', None, 'Living Characters', 3360.0, 'Mar-41', 1.941), (64786, 'Wolverine (James \\"Logan\\" Howlett)', '\\/Wolverine_(James_%22Logan%22_Howlett)', 'Public Identity', 'Neutral Characters', 'Blue Eyes', 'Black Hair', 'Male Characters', 'dontknow', 'Living Characters', 3061.0, 'Oct-74', 1.974), (1868, 'Iron Man (Anthony \\"Tony\\" Stark)', '\\/Iron_Man_(Anthony_%22Tony%22_Stark)', 'Public Identity', 'Good Characters', 'Blue Eyes', 'Black Hair', 'Male Characters', None, 'Living Characters', 2961.0, 'Mar-63', 1.963), (2460, 'Thor (Thor Odinson)', '\\/Thor_(Thor_Odinson)', 'No Dual Identity', 'Good Characters', 'Blue Eyes', 'Blond Hair', 'Male Characters', None, 'Living Characters', 2258.0, 'Nov-50', 1.95), (2458, 'Benjamin Grimm (Earth-616)', '\\/Benjamin_Grimm_(Earth-616)', 'Public Identity', 'Good Characters', 'Blue Eyes', 'No Hair', 'Male Characters', None, 'Living Characters', 2255.0, 'Nov-61', 1.961), (2166, 'Reed Richards (Earth-616)', '\\/Reed_Richards_(Earth-616)', 'Public Identity', 'Good Characters', 'Brown Eyes', 'Brown Hair', 'Male Characters', 'dontknow', 'Living Characters', 2072.0, 'Nov-61', 1.961), (1833, 'Hulk (Robert Bruce Banner)', '\\/Hulk_(Robert_Bruce_Banner)', 'Public Identity', 'Good Characters', 'Brown Eyes', 'Brown Hair', 'Male Characters', None, 'Living Characters', 2017.0, 'May-62', 1.962), (29481, 'Scott Summers (Earth-616)', '\\/Scott_Summers_(Earth-616)', 'Public Identity', 'Neutral Characters', 'Brown Eyes', 'Brown Hair', 'Male Characters', None, 'Living Characters', 1955.0, 'Sep-63', 1.963), (1837, 'Jonathan Storm (Earth-616)', '\\/Jonathan_Storm_(Earth-616)', 'Public Identity', 'Good Characters', 'Blue Eyes', 'Blond Hair', 'Male Characters', None, 'Living Characters', 1934.0, 'Nov-61', 1.961), (15725, 'Henry McCoy (Earth-616)', '\\/Henry_McCoy_(Earth-616)', 'Public Identity', 'Good Characters', 'Blue Eyes', 'Blue Hair', 'Male Characters', None, 'Living Characters', 1825.0, 'Sep-63', 1.963), (1863, 'Susan Storm (Earth-616)', '\\/Susan_Storm_(Earth-616)', 'Public Identity', 'Good Characters', 'Blue Eyes', 'Blond Hair', 'Female Characters', None, 'Living Characters', 1713.0, 'Nov-61', 1.961), (7823, 'Namor McKenzie (Earth-616)', '\\/Namor_McKenzie_(Earth-616)', 'No Dual Identity', 'Neutral Characters', 'Green Eyes', 'Black Hair', 'Male Characters', None, 'Living Characters', None, 'Nov-61', 1.528), (2614, 'Ororo Munroe (Earth-616)', '\\/Ororo_Munroe_(Earth-616)', 'Public Identity', 'Good Characters', 'Blue Eyes', 'White Hair', 'Female Characters', None, 'Living Characters', 1512.0, 'May-75', 1.975), (1803, 'Clinton Barton (Earth-616)', '\\/Clinton_Barton_(Earth-616)', 'Public Identity', 'Good Characters', 'Blue Eyes', 'Blond Hair', 'Male Characters', None, 'Living Characters', 1394.0, 'Sep-64', 1.964), (1396, 'Matthew Murdock (Earth-616)', '\\/Matthew_Murdock_(Earth-616)', 'Public Identity', 'Good Characters', 'Blue Eyes', 'Red Hair', 'Male Characters', None, 'Living Characters', 1338.0, 'Apr-64', 1.964), (55534, 'Stephen Strange (Earth-616)', '\\/Stephen_Strange_(Earth-616)', 'Public Identity', 'Good Characters', 'Grey Eyes', 'Black Hair', 'Male Characters', None, 'Living Characters', 1307.0, 'Jul-63', 1.963), (1978, 'Mary Jane Watson (Earth-616)', '\\/Mary_Jane_Watson_(Earth-616)', 'No Dual Identity', 'Good Characters', 'Green Eyes', 'Red Hair', 'Female Characters', None, 'Living Characters', 1304.0, 'Jun-65', 1.965), (1872, 'John Jonah Jameson (Earth-616)', '\\/John_Jonah_Jameson_(Earth-616)', 'No Dual Identity', 'Neutral Characters', 'Blue Eyes', 'Black Hair', 'Male Characters', None, 'Living Characters', 1266.0, 'Mar-63', 1.963), (35350, 'Robert Drake (Earth-616)', '\\/Robert_Drake_(Earth-616)', 'Secret Identity', 'Good Characters', 'Brown Eyes', 'Brown Hair', 'Male Characters', None, 'Living Characters', 1265.0, 'Sep-63', 1.963), (1557, 'Henry Pym (Earth-616)', '\\/Henry_Pym_(Earth-616)', 'Public Identity', 'Good Characters', 'Blue Eyes', 'Blond Hair', 'Male Characters', None, 'Living Characters', 1237.0, 'Jan-62', 1.962), (65255, 'Charles Xavier (Earth-616)', '\\/Charles_Xavier_(Earth-616)', 'Public Identity', 'Good Characters', 'Blue Eyes', 'Bald', 'Male Characters', None, 'Deceased Characters', 1233.0, 'Sep-63', 1.963), (1073, 'Warren Worthington III (Earth-616)', '\\/Warren_Worthington_III_(Earth-616)', 'Public Identity', 'Good Characters', 'Blue Eyes', 'Blond Hair', 'Male Characters', None, 'Living Characters', 1230.0, 'Sep-63', 1.963), (1346, 'Piotr Rasputin (Earth-616)', '\\/Piotr_Rasputin_(Earth-616)', 'Secret Identity', 'Good Characters', 'Blue Eyes', 'Black Hair', 'Male Characters', None, 'Living Characters', 1162.0, 'May-75', 1.975), (2512, 'Wanda Maximoff (Earth-616)', '\\/Wanda_Maximoff_(Earth-616)', 'Public Identity', 'Good Characters', 'Green Eyes', 'Brown Hair', 'Female Characters', None, 'Living Characters', 1161.0, 'Mar-64', 1.964), (1671, 'Nicholas Fury (Earth-616)', '\\/Nicholas_Fury_(Earth-616)', 'No Dual Identity', 'Neutral Characters', 'Brown Eyes', 'Brown Hair', 'Male Characters', None, 'Living Characters', 1137.0, 'May-63', 1.963), (1976, 'Janet van Dyne (Earth-616)', '\\/Janet_van_Dyne_(Earth-616)', 'Public Identity', 'Good Characters', 'Blue Eyes', 'Auburn Hair', 'Female Characters', None, 'Living Characters', 1120.0, 'Jun-63', 1.963), (65219, 'Jean Grey (Earth-616)', '\\/Jean_Grey_(Earth-616)', 'Public Identity', 'Good Characters', 'Green Eyes', 'Red Hair', 'Female Characters', None, 'Deceased Characters', 1107.0, 'Sep-63', 1.963), (6545, 'Natalia Romanova (Earth-616)', '\\/Natalia_Romanova_(Earth-616)', 'Public Identity', 'Good Characters', 'Green Eyes', 'Red Hair', 'Female Characters', 'Bisexual Characters', 'Living Characters', 1050.0, 'Apr-64', 1.964), (2223, 'Kurt Wagner (Earth-616)', '\\/Kurt_Wagner_(Earth-616)', 'Secret Identity', 'Good Characters', 'Yellow Eyes', 'Blue Hair', 'Male Characters', None, 'Living Characters', 1047.0, 'May-75', 1.975), (9999, '-', '-', '-', '-', '-', '-', '-', None, '-', 0.0, 0, 0.0)]

In [152]:
# Volvemos a cargar los datos de una tabla DB a DataFrame
pd.read_sql_query(sql_select_tabla, conn)

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST,Year
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,dontknow,Living Characters,4043.0,Aug-62,1.962
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,None,Living Characters,3360.0,Mar-41,1.941
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,dontknow,Living Characters,3061.0,Oct-74,1.974
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,None,Living Characters,2961.0,Mar-63,1.963
4,2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,None,Living Characters,2258.0,Nov-50,1.950
5,2458,Benjamin Grimm (Earth-616),\/Benjamin_Grimm_(Earth-616),Public Identity,Good Characters,Blue Eyes,No Hair,Male Characters,None,Living Characters,2255.0,Nov-61,1.961
6,2166,Reed Richards (Earth-616),\/Reed_Richards_(Earth-616),Public Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,dontknow,Living Characters,2072.0,Nov-61,1.961
7,1833,Hulk (Robert Bruce Banner),\/Hulk_(Robert_Bruce_Banner),Public Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,None,Living Characters,2017.0,May-62,1.962
8,29481,Scott Summers (Earth-616),\/Scott_Summers_(Earth-616),Public Identity,Neutral Characters,Brown Eyes,Brown Hair,Male Characters,None,Living Characters,1955.0,Sep-63,1.963
9,1837,Jonathan Storm (Earth-616),\/Jonathan_Storm_(Earth-616),Public Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,None,Living Characters,1934.0,Nov-61,1.961
10,15725,Henry McCoy (Earth-616),\/Henry_McCoy_(Earth-616),Public Identity,Good Characters,Blue Eyes,Blue Hair,Male Characters,None,Living Characters,1825.0,Sep-63,1.963
11,1863,Susan Storm (Earth-616),\/Susan_Storm_(Earth-616),Public Identity,Good Characters,Blue Eyes,Blond Hair,Female Characters,None,Living Characters,1713.0,Nov-61,1.961
12,7823,Namor McKenzie (Earth-616),\/Namor_McKenzie_(Earth-616),No Dual Identity,Neutral Characters,Green Eyes,Black Hair,Male Characters,None,Living Characters,NaN,Nov-61,1.528
13,2614,Ororo Munroe (Earth-616),\/Ororo_Munroe_(Earth-616),Public Identity,Good Characters,Blue Eyes,White Hair,Female Characters,None,Living Characters,1512.0,May-75,1.975
14,1803,Clinton Barton (Earth-616),\/Clinton_Barton_(Earth-616),Public Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,None,Living Characters,1394.0,Sep-64,1.964
15,1396,Matthew Murdock (Earth-616),\/Matthew_Murdock_(Earth-616),Public Identity,Good Characters,Blue Eyes,Red Hair,Male Characters,None,Living Characters,1338.0,Apr-64,1.964
16,55534,Stephen Strange (Earth-616),\/Stephen_Strange_(Earth-616),Public Identity,Good Characters,Grey Eyes,Black Hair,Male Characters,None,Living Characters,1307.0,Jul-63,1.963
17,1978,Mary Jane Watson (Earth-616),\/Mary_Jane_Watson_(Earth-616),No Dual Identity,Good Characters,Green Eyes,Red Hair,Female Characters,None,Living Characters,1304.0,Jun-65,1.965
18,1872,John Jonah Jameson (Earth-616),\/John_Jonah_Jameson_(Earth-616),No Dual Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,None,Living Characters,1266.0,Mar-63,1.963
19,35350,Robert Drake (Earth-616),\/Robert_Drake_(Earth-616),Secret Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,None,Living Characters,1265.0,Sep-63,1.963
20,1557,Henry Pym (Earth-616),\/Henry_Pym_(Earth-616),Public Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,None,Living Characters,1237.0,Jan-62,1.962
21,65255,Charles Xavier (Earth-616),\/Charles_Xavier_(Earth-616),Public Identity,Good Characters,Blue Eyes,Bald,Male Characters,None,Deceased Characters,1233.0,Sep-63,1.963
22,1073,Warren Worthington III (Earth-616),\/Warren_Worthington_III_(Earth-616),Public Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,None,Living Characters,1230.0,Sep-63,1.963
23,1346,Piotr Rasputin (Earth-616),\/Piotr_Rasputin_(Earth-616),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,None,Living Characters,1162.0,May-75,1.975
24,2512,Wanda Maximoff (Earth-616),\/Wanda_Maximoff_(Earth-616),Public Identity,Good Characters,Green Eyes,Brown Hair,Female Characters,None,Living Characters,1161.0,Mar-64,1.964
25,1671,Nicholas Fury (Earth-616),\/Nicholas_Fury_(Earth-616),No Dual Identity,Neutral Characters,Brown Eyes,Brown Hair,Male Characters,None,Living Characters,1137.0,May-63,1.963
26,1976,Janet van Dyne (Earth-616),\/Janet_van_Dyne_(Earth-616),Public Identity,Good Characters,Blue Eyes,Auburn Hair,Female Characters,None,Living Characters,1120.0,Jun-63,1.963
27,65219,Jean Grey (Earth-616),\/Jean_Grey_(Earth-616),Public Identity,Good Characters,Green Eyes,Red Hair,Female Characters,None,Deceased Characters,1107.0,Sep-63,1.963
28,6545,Natalia Romanova (Earth-616),\/Natalia_Romanova_(Earth-616),Public Identity,Good Characters,Green Eyes,Red Hair,Female Characters,Bisexual Characters,Living Characters,1050.0,Apr-64,1.964
29,2223,Kurt Wagner (Earth-616),\/Kurt_Wagner_(Earth-616),Secret Identity,Good Characters,Yellow Eyes,Blue Hair,Male Characters,None,Living Characters,1047.0,May-75,1.975
30,9999,-,-,-,-,-,-,-,None,-,0.0,0,0.000

In [153]:
# Cerraremos la conexión de la base de datos

conn.close()

In [154]:
pd.read_sql_query(sql_select_tabla, conn)

ProgrammingError: Cannot operate on a closed database.